@model OnlineStrategyGame.WebApp.Models.RaceCreatorViewModel

@{
    ViewData["Title"] = "RaceCreatorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>RaceCreatorView</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeaderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Elements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            <td>
                <a asp-action="Select" asp-route-id="@item.Id">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
