@using OnlineStrategyGame.Dtos.RaceCreator.Enums
@using OnlineStrategyGame.Localisation
@model OnlineStrategyGame.WebApp.Models.RaceCreatorViewModel

@{
    ViewData["Title"] = "RaceCreatorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@Localisation.RaceCreator_Title</h1>
<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>@Localisation.RaceCreator_Summary</h2>
            @foreach (var item in Model.Bonuses)
            {
                if ((item.Key & (RaceCreatorBonusType.MilitaryDefensive | RaceCreatorBonusType.MilitaryOffensive)) > 0)
                {
                    <p class="red">@item.Key.ToFriendlyString() : @item.Value.ToString("P1")</p>
                }
                else if (item.Key == RaceCreatorBonusType.Economy)
                {
                    <p class="yellow">@item.Key.ToFriendlyString() : @item.Value.ToString("P1")</p>
                }
                else if (item.Key == RaceCreatorBonusType.Research)
                {
                    <p class="blue">@item.Key.ToFriendlyString() : @item.Value.ToString("P1")</p>
                }
                else
                {
                    <p>@item.Key.ToFriendlyString() : @(item.Value != 1 ? item.Value.ToString("P1") : "")</p>
                }

            }
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localisation.RaceCreator_TableName
                        </th>
                        <th>
                            @Localisation.RaceCreator_TableDescription
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Elements)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Description<br/>
                                @foreach (var bonus in item.Bonuses)
                                {
                                    @bonus.Type.ToFriendlyString()  @(bonus.Value != 1 ? ": "+ bonus.Value.ToString("P1") : "")<br />
                                }
                            <td>
                                <form asp-controller="RaceCreator" asp-action="Select" method="post" class="form-horizontal">
                                    <input type="hidden" value="@item.Id" name="id" />
                                    @foreach (var selected in Model.SelectedIds)
                                    {
                                        <input type="hidden" value="@selected" name="selected" />
                                    }
                                    <button type="submit" class="btn btn-primary" name="provider" value="Select" title="Select">@Localisation.Main_Select</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>