@model IEnumerable<OnlineStrategyGame.Dtos.Galaxy.SolarSystemDto>

@{
    ViewData["Title"] = "SolarSystemsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SolarSystemView</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ruler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CordX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CordY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CordZ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ruler.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CordX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CordY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CordZ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
