
@using OnlineStrategyGame.Localisation
@model OnlineStrategyGame.Dtos.Galaxy.PlanetDto

@{
    ViewData["Title"] = "PlanetView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PlanetView</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            @Model.Name
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            @Localisation.Galaxy_Resources_Carbon<br />
            @Model.Resources.Carbon
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Titanium<br />
            @Model.Resources.Titanium
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Aluminium<br />
            @Model.Resources.Aluminium
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Uranium<br />
            @Model.Resources.Uranium
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Hydrogen<br />
            @Model.Resources.Hydrogen
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Helium3<br />
            @Model.Resources.Helium3
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Graphene<br />
            @Model.Resources.Graphene
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_AluminiumAlloy<br />
            @Model.Resources.AluminiumAlloy
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_TitaniumAlloy<br />
            @Model.Resources.TitaniumAlloy
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Resources_Food<br />
            @Model.Resources.Food
        </div>
        <div class="col-1">
            @Localisation.Galaxy_Population<br />
            @Model.Population
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            @Localisation.Galaxy_Star_Mass
                        </td>
                        <td>
                            @Model.Mass
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Localisation.Galaxy_Star_Radius
                        </td>
                        <td>
                            @Model.Radius
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Localisation.Galaxy_Star_GravitationalAcceleration
                        </td>
                        <td>
                            @Model.GravitationalAcceleration
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Localisation.Galaxy_Planet_MinTemperature
                        </td>
                        <td>
                            @Model.MinTemperature
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Localisation.Galaxy_Planet_MaxTemperature
                        </td>
                        <td>
                            @Model.MaxTemperature
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
